* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    margin: 0!important;
    padding: 0!important;
    text-decoration: none !important;
    color: #000;
}

nav ul {
    margin: 0!important;
    padding: 0!important;
    list-style: none;
}

ul{
    color: #000;
}


/* Reset Uikit */

.uk-navbar-nav>li>a,
.uk-navbar-item,
.uk-navbar-toggle {
    min-height: initial;
}

/* Text Rules */

h2 {
    color: #000;
    font-weight: bold;
}

p {
    margin: 0;
    padding: 0;
    color: #000;
}

header h2 {
    font-size: 20px;
    font-weight: normal;
    color: #000;
}

header a {
    font-size: 16px;
    font-weight: 100;
    color: #000!important;
}

header a.uk-active {
    font-weight: bold!important;
    color: #000!important;
}

header p {
    font-size: 16px;
    font-weight: 100;
    color: #000;
}

/* Header */

header {
    position: relative;
    z-index: 20;
}

.header-content {
    width: 56%;
    padding-top: 70px;
    position: relative;
}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.visual-header {
    width: 30%;
}

.container-logo {
    margin-bottom: 40px;
}

header li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


header li:after {
    content: "/";
    display: block;
    margin: 0 30px;
}

header li:last-child:after {
    display: none;
}

header nav {
    margin-bottom: 70px;
}

header p {
    margin-bottom: 30px;
}

.video1 {
   width: 1024px;
   height: 576px;
   position: absolute;
   top: 60%;
   left: 0%;
   border-radius: 15px;
   overflow: hidden;
}

/* Main */

main {
    position: relative;
    z-index: 10;
    margin-top: 250px;
    margin-bottom: 100px;
}

/* Section Parcour */

.section-parcour {
    margin-bottom: 50px;
}

.parcour-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    margin: 0 auto;
}

.parcour-text {
    position: relative;
    width: 100%;
    padding-top: 90px;
}

.parcour-visuel {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
}

/* Section Style */

.section-style {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 200px;
}

.style-left {
    width: 40%;
    padding-left: 40px;
}

.style-right {
    width: 60%;
}

.container-text-style h2,
.container-text-style p {
    text-align: right;
}

/* Section Methodo */

.section-methodo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.container-methodo {
    width: 56%;
    position: relative;
    padding-right: 150px;
}

.visuel-methodo {
    width: 80%;
    position: absolute;
    z-index: 10;
    right: 100%;
    top: 60%;
    transform: translateX(50px) translateY(-80%);
}

.video2,
.text-methodo {
    position: relative;
    z-index: 20;
}

.video2 {
    width: 100%;
    height: 520px;
    border-radius: 15px;
    overflow: hidden;
}

.text-methodo {
    margin-top: 30px;
}

/* OnTheDraw */

.container-onthedraw {
    padding: 0 100px;
}

/* Footer */

.usefull-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: #FDDA06;
    padding: 0 50px;
}

.footer-logo-visuel {
    margin-bottom: 30px;
}

.footer-visuel-wrapper {
    width: 30%;
}

.footer-content-wrapper {
    width: 70%;
}

.footer-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.uk-iconnav>*>a {
    color: #000;
}

.footer-first-nav nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}


a:hover {
    color: #999;
}

footer nav p {
    font-weight: bold;
    font-size:16px;
}

.footer-first-nav nav ul:first-child {
    text-align: right;
}

.footer-second-nav {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.footer-second-nav p {
    font-weight: bold;
}

.footer-second-nav a {
    font-size: 14px;
}

.filet-footer {
    margin: 0 20px;
}