@media screen and (max-width:640px){

  header::after {
    display: none;
  }

  main::before{
    display:none;
  }
  .section-methodo{
    background-image:none;
  }

  iframe {
    display:none;
  }

  .container-header {
    max-width: 100%;
    padding: 0px;
    margin: 0 auto;
  }

  .container02{
    display:none;
  }

  header {padding: 0;margin: 0;}

  .usefull-footer {
    max-width: 100%;
  }

  main {
    padding: 0;
    margin: 0;
  }

  .section-parcours {
    margin: 0;
    padding: 0;
  }

  .section-style.uk-flex {
    margin: 0;
    padding: 0;
  }

  .section-methodo {
    padding: 0;
    margin: 0;
  }

  .container-methodo {
    margin: 0;
    padding: 0;
  }

  .container01 {
    margin: 0;
    padding: 0;
  }

}
